.w-full {
  width: 100%;
}
.w-500 {
  width: 100%;
  max-width: 500px;
}
.w-1000 {
  width: 100%;
  max-width: 1000px;
}

.card__main {
  border-bottom: rgb(25, 118, 210) solid 4px !important;
  .card__headline {
    background: rgb(25, 118, 210) !important;
    color: #fff;
    padding: 5px 10px;
    font-size: 18px !important;
    font-weight: 500;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    // box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4);
  }
  .card__information {
    font-size: 14px;
    color: #fff;
    opacity: 0.8;
  }
  .card__subhead {
    font-size: 14px;
    margin-bottom: 0px;
    color: rgb(25, 118, 210);
    font-weight: 600 !important;
  }
  // p {
  //   color: #fff !important;
  // }
  b {
    color: #fff !important;
  }
  // a {
  //   color: rgb(44, 139, 233) !important;
  // }
}

.page__headline {
  padding: 5px 10px;
  border-radius: 4px;
  font-weight: 400;
  font-size: 10px;
  background-color: rgb(25, 118, 210);
  color: #fff;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4);
}

.text--red {
  color: #ff0000 !important;
}
