<template>
  <v-app dark>
    <v-navigation-drawer
      v-model="drawer"
      :mini-variant="miniVariant"
      :clipped="clipped"
      fixed
      app
    >
      <v-list>
        <v-list-item
          v-for="(item, i) in items"
          :key="i"
          :to="item.to"
          router
          exact
        >
          <v-list-item-action>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title v-text="item.title" />
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
    <v-app-bar :clipped-left="clipped" fixed app>
      <v-app-bar-nav-icon @click.stop="drawer = !drawer" />
      <v-toolbar-title v-text="title" />
      <v-spacer />
    </v-app-bar>
    <v-main>
      <v-container>
        <nuxt />
      </v-container>
    </v-main>
    <v-footer :absolute="!fixed" app>
      <a href="https://twitter.com/marcelc63" target="_blank">
        <span>&copy; {{ new Date().getFullYear() }} Marcel Christianis</span>
      </a>
    </v-footer>
  </v-app>
</template>

<script>
export default {
  data() {
    return {
      clipped: false,
      drawer: false,
      fixed: false,
      items: [
        {
          icon: 'mdi-apps',
          title: 'About',
          to: '/'
        },
        {
          icon: 'mdi-code-braces',
          title: 'Airbnb Listings Scraper',
          to: '/airbnb-listings-scraper'
        },
        {
          icon: 'mdi-code-braces',
          title: 'Airbnb Reviews Scraper',
          to: '/airbnb-reviews-scraper'
        },
        {
          icon: 'mdi-code-braces',
          title: 'Tokopedia Products Scraper',
          to: '/tokopedia-products-scraper'
        },
        {
          icon: 'mdi-code-braces',
          title: 'Tokopedia Reviews Scraper',
          to: '/tokopedia-reviews-scraper'
        },
        {
          icon: 'mdi-book',
          title: 'Datasets Repository',
          to: '/datasets-repository'
        },
        {
          icon: 'mdi-forum',
          title: 'Request Datasets',
          to: '/request-datasets-scraper'
        },
        {
          icon: 'mdi-help-circle',
          title: 'Tutorial',
          to: '/tutorial'
        }
      ],
      miniVariant: false,
      right: true,
      rightDrawer: false,
      title: 'Data Point'
    }
  }
}
</script>
