<template>
  <v-app dark>
    <h1 v-if="error.statusCode === 404">
      {{ pageNotFound }}
    </h1>
    <h1 v-else>
      {{ otherError }}
    </h1>
    <p>
      If you're seeing this error it may be due several reasons:<br />
      1. Required extensions not loaded properly<br />
      2. You've requested too many data in a short period of time<br />
      3. The datasets you're trying to retrieve does not exist<br />
      4. Technical problems with the applications<br />
    </p>
    <p>
      Simply check your settings and refresh the website to try again or contact
      me at
      <a href="https://twitter.com/marcelc63">@marcelc63</a> on twitter.
    </p>
    <NuxtLink to="/">
      Home page
    </NuxtLink>
  </v-app>
</template>

<script>
export default {
  layout: 'empty',
  props: {
    error: {
      type: Object,
      default: null
    }
  },
  data() {
    return {
      pageNotFound: '404 Not Found',
      otherError: 'An error occurred'
    }
  },
  head() {
    const title =
      this.error.statusCode === 404 ? this.pageNotFound : this.otherError
    return {
      title
    }
  }
}
</script>

<style scoped>
h1 {
  font-size: 20px;
}
</style>
