<template>
  <v-layout column justify-center align-center>
    <v-flex class="w-full">
      <div class="page__headline w-500 mx-auto">
        <h1>
          Tutorial for Airbnb Listings Scraper Advance
        </h1>
      </div>
      <v-col class="mb-6">
        <v-card class="w-full mx-auto mb-3 card__main" max-width="500">
          <p class="card__headline">Video Tutorial</p>
          <v-card-text>
            <div style="position: relative; padding-bottom: 62.5%; height: 0;">
              <div
                style="position: relative; padding-bottom: 62.5%; height: 0;"
              >
                <iframe
                  src="https://www.loom.com/embed/15e39e6d21fb4d118670bc61fb9373c6"
                  frameborder="0"
                  webkitallowfullscreen
                  mozallowfullscreen
                  allowfullscreen
                  style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"
                ></iframe>
              </div>
            </div>
          </v-card-text>
        </v-card>
        <v-card class="w-full mx-auto mb-3 card__main" max-width="500">
          <p class="card__headline">
            Introduction to Advance Tutorial
          </p>
          <v-card-text>
            <p>
              This tutorial shows you how to use the Advance Options for Airbnb
              Listings Scraper. The Advance Options allow you to have more
              control over what geography area that you will scrape. The
              Location Search may be easier to use but you don't really know
              where you are scraping. This Advance Options give you that
              control.
            </p>
          </v-card-text>
        </v-card>
        <v-card class="w-full mx-auto mb-3 card__main" max-width="500">
          <p class="card__headline">
            Step 1: Installing CORS Unblock Extension
          </p>
          <v-card-text>
            <p>
              Before you start, you will need to install CORS Unblock Extension
              from Chrome Web Store, Firefox Web Store, or other extension store
              from the browser of that you use.
            </p>
            <p>
              Any kind of CORS Unblock Extension will work, however, I have
              tried and tested one extension which work perfectly the scraper
              which you can also download on the following link:
              <a
                href="https://chrome.google.com/webstore/detail/cors-unblock/lfhmikememgdcahcdlaciloancbhjino?hl=en"
                target="_blank"
                >CORS Unblock</a
              >
            </p>
            <img
              class="w-full"
              src="@/assets/tutorial/airbnb-listings-advance/airbnb-listings-advance-1.jpg"
            />
            <p>
              CORS itself stands for Cross Origin Resource Sharing. By using
              this extension, it allows Data Point to create access to Airbnb's
              API. Without this extension, the access will be blocked by your
              browser and the scraper will not work.
            </p>
          </v-card-text>
        </v-card>
        <v-card class="w-full mx-auto mb-3 card__main" max-width="500">
          <p class="card__headline">Step 2: Enable CORS Unblock Extension</p>
          <v-card-text>
            <p>
              After installing CORS Unblock Extension from Chrome Web Store,
              click on your extension tab and enable the extension. Make sure
              the extension is enabled before you start the scraping process.
            </p>
            <img
              class="w-full"
              src="@/assets/tutorial/airbnb-listings-advance/airbnb-listings-advance-2.jpg"
            />
          </v-card-text>
        </v-card>
        <v-card class="w-full mx-auto mb-3 card__main" max-width="500">
          <p class="card__headline">
            Step 3: Go to Airbnb Listings Scraper page and click Get Started
          </p>
          <v-card-text>
            <p>
              With the extension enabled, we can navigate to Airbnb Listings
              Scraper page and click Get Started.
            </p>
            <img
              class="w-full"
              src="@/assets/tutorial/airbnb-listings-advance/airbnb-listings-advance-3.jpg"
            />
            <img
              class="w-full"
              src="@/assets/tutorial/airbnb-listings-advance/airbnb-listings-advance-3b.jpg"
            />
          </v-card-text>
        </v-card>
        <v-card class="w-full mx-auto mb-3 card__main" max-width="500">
          <p class="card__headline">
            Step 4: Scroll Down to the Location Boundary Box - Advance Options
            section
          </p>
          <v-card-text>
            <p>
              This is where we will make our settings. To use this option, we
              will need to find coordinate for our location. This may be tricky.
              One easy trick however is to go directly to Airbnb.
            </p>
            <img
              class="w-full"
              src="@/assets/tutorial/airbnb-listings-advance/airbnb-listings-advance-4.jpg"
            />
          </v-card-text>
        </v-card>
        <v-card class="w-full mx-auto mb-3 card__main" max-width="500">
          <p class="card__headline">
            Step 5: Go to Airbnb.com and Search for Location
          </p>
          <v-card-text>
            <p>
              Visit http://airbnb.com and search for listings in a location the
              same way you do when browsing Airbnb. The check in and check out
              date can be random. Then press Search.
            </p>
            <p>
              Same with the Location Search, it is advised to not search for
              locations that is too wide and instead search for more specific
              locations for better results. Therefore, it is not advisable to
              scrape listings of an entire country in one sitting. Instead, it
              is better to scrape smaller location and do multiple scrape
              sessions.
            </p>
            <img
              class="w-full"
              src="@/assets/tutorial/airbnb-listings-advance/airbnb-listings-advance-5.jpg"
            />
          </v-card-text>
        </v-card>
        <v-card class="w-full mx-auto mb-3 card__main" max-width="500">
          <p class="card__headline">
            Step 6: Make sure you have Map View and Search as I move the map
            option on
          </p>
          <v-card-text>
            <p>
              As you notice, Airbnb will only give back 300 listings per query
              search. This is done to protect their data. What we will do is to
              scrape smaller location from our overall location and scan through
              the map until we collected all listings in the location.
            </p>
            <img
              class="w-full"
              src="@/assets/tutorial/airbnb-listings-advance/airbnb-listings-advance-6.jpg"
            />
          </v-card-text>
        </v-card>
        <v-card class="w-full mx-auto mb-3 card__main" max-width="500">
          <p class="card__headline">Step 7: Imaginary Boundary Box</p>
          <v-card-text>
            <p>
              Boundary Box is a concept that define the parameter of a location.
              It contains North East and South West Longitude and Latitude
              Coordinates.
            </p>
            <p>
              We will want to start our scraping process from the Top Left of
              the map and finish our scraping process on the Bottom Right of the
              map.
            </p>
            <img
              class="w-full"
              src="@/assets/tutorial/airbnb-listings-advance/airbnb-listings-advance-7.jpg"
            />
          </v-card-text>
        </v-card>
        <v-card class="w-full mx-auto mb-3 card__main" max-width="500">
          <p class="card__headline">
            Step 8: Zoom in 3 times in Airbnb Map, Pan to the Top Left of the
            map, copy Airbnb URL
          </p>
          <v-card-text>
            <p>
              To get the Boundary Box for our starting point, we will need to
              zoom in 3 times or more on the Airbnb Map until it no longer shows
              300+ on the amount of listings for the area.
            </p>
            <p>
              Next, we will pan our map to the Top Left of the map as shown on
              the previous step.
            </p>
            <p>Last, we will copy the Airbnb URL from our browser.</p>
            <img
              class="w-full"
              src="@/assets/tutorial/airbnb-listings-advance/airbnb-listings-advance-8.jpg"
            />
          </v-card-text>
        </v-card>
        <v-card class="w-full mx-auto mb-3 card__main" max-width="500">
          <p class="card__headline">Step 9: Paste Airbnb URL - Start</p>
          <v-card-text>
            <p>
              We go back to Data Point and paste the url on the Airbnb URL -
              Start field. The coordinates will automatically be extracted.
            </p>
            <img
              class="w-full"
              src="@/assets/tutorial/airbnb-listings-advance/airbnb-listings-advance-9.jpg"
            />
          </v-card-text>
        </v-card>
        <v-card class="w-full mx-auto mb-3 card__main" max-width="500">
          <p class="card__headline">
            Step 10: Get URL for Bottom Left of the Map
          </p>
          <v-card-text>
            <p>
              We will now find the ending area of our map as we pan our map to
              the Bottom Right of the Airbnb map. If it's easier, you can zoom
              out first.
            </p>
            <p>Similarly, we will copy the Airbnb URL from our browser.</p>
            <img
              class="w-full"
              src="@/assets/tutorial/airbnb-listings-advance/airbnb-listings-advance-10.jpg"
            />
          </v-card-text>
        </v-card>
        <v-card class="w-full mx-auto mb-3 card__main" max-width="500">
          <p class="card__headline">Step 11: Paste Airbnb URL</p>
          <v-card-text>
            <p>
              We go back to Data Point and paste the url on the Airbnb URL - End
              field. The coordinates will automatically be extracted.
            </p>
            <img
              class="w-full"
              src="@/assets/tutorial/airbnb-listings-advance/airbnb-listings-advance-11.jpg"
            />
          </v-card-text>
        </v-card>
        <v-card class="w-full mx-auto mb-3 card__main" max-width="500">
          <p class="card__headline">
            Step 12: Confirm your coordinates and press Continue
          </p>
          <v-card-text>
            <p>
              The extracted coordinates will be shown and you can edit them if
              you have good understanding of coordinates. After you confirm the
              coordinates, you can press Continue and the scraping function will
              start.
            </p>
            <img
              class="w-full"
              src="@/assets/tutorial/airbnb-listings-advance/airbnb-listings-advance-12.jpg"
            />
          </v-card-text>
        </v-card>
        <v-card class="w-full mx-auto mb-3 card__main" max-width="500">
          <p class="card__headline">
            Step 13: Scraping in progress, don't exit browser
          </p>
          <v-card-text>
            <p>
              Scraping is in progress. Here you can see the status of the
              scraper, how many data collected and the progress.
            </p>
            <p>
              You can wait for the progress to complete and the scraper will
              automatically complete itself.
            </p>
            <p>
              If you're satisfied with the amount of data collected and don't
              want to wait for the process to finish, you can click stop and you
              will download whatever data you have collected so far.
            </p>
            <img
              class="w-full"
              src="@/assets/tutorial/airbnb-listings-advance/airbnb-listings-advance-13.jpg"
            />
          </v-card-text>
        </v-card>
        <v-card class="w-full mx-auto mb-3 card__main" max-width="500">
          <p class="card__headline">Step 14: Preview Dataset</p>
          <v-card-text>
            <p>
              After stopping the scraper, you can preview and explore the
              dataset.
            </p>
            <img
              class="w-full"
              src="@/assets/tutorial/airbnb-listings-advance/airbnb-listings-advance-14.jpg"
            />
          </v-card-text>
        </v-card>
        <v-card class="w-full mx-auto mb-3 card__main" max-width="500">
          <p class="card__headline">
            Step 15: Download CSV, Scrape Again, or Continue to Scrape Reviews
          </p>
          <v-card-text>
            <p>
              If you're satisfied with the dataset, you can download it in CSV
              form. You can also edit the file name before downloading.
            </p>
            <p>
              Next actions you can do is to scrape again on a different location
              or use the downloaded CSV file to scrape Airbnb Reviews.
            </p>
            <p>
              <b
                >Don't forget to turn off the extension after you finish
                scraping since it will affect your connection on other
                websites!</b
              >
            </p>
            <img
              class="w-full"
              src="@/assets/tutorial/airbnb-listings-advance/airbnb-listings-advance-15.jpg"
            />
          </v-card-text>
        </v-card>
      </v-col>
    </v-flex>
  </v-layout>
</template>

<script>
export default {
  head() {
    return {
      title: 'Airbnb Listings Scraper Advance Tutorial',
      meta: [
        // hid is used as unique identifier. Do not use `vmid` for it as it will not work
        {
          hid: 'description',
          name: 'description',
          content: 'Easily get datasets for Big Data research and analysis'
        }
      ]
    }
  }
}
</script>
