<template>
  <v-layout column justify-center align-center>
    <v-flex class="w-full">
      <div class="page__headline w-500 mx-auto">
        <h1>
          Tutorial for Airbnb Listings Scraper
        </h1>
      </div>
      <v-col class="mb-6">
        <v-card class="w-full mx-auto mb-3 card__main" max-width="500">
          <p class="card__headline">Video Tutorial</p>
          <v-card-text>
            <div style="position: relative; padding-bottom: 62.5%; height: 0;">
              <iframe
                src="https://www.loom.com/embed/5ec646184b574ffc8a79a8f3b49b3a52"
                frameborder="0"
                webkitallowfullscreen
                mozallowfullscreen
                allowfullscreen
                style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"
              ></iframe>
            </div>
          </v-card-text>
        </v-card>
        <v-card class="w-full mx-auto mb-3 card__main" max-width="500">
          <p class="card__headline">
            Step 1: Installing CORS Unblock Extension
          </p>
          <v-card-text>
            <p>
              Before you start, you will need to install CORS Unblock Extension
              from Chrome Web Store, Firefox Web Store, or other extension store
              from the browser of that you use.
            </p>
            <p>
              Any kind of CORS Unblock Extension will work, however, I have
              tried and tested one extension which work perfectly the scraper
              which you can also download on the following link:
              <a
                href="https://chrome.google.com/webstore/detail/cors-unblock/lfhmikememgdcahcdlaciloancbhjino?hl=en"
                target="_blank"
                >CORS Unblock</a
              >
            </p>
            <img
              class="w-full"
              src="@/assets/tutorial/airbnb-listings/airbnb-listings-1.jpg"
            />
            <p>
              CORS itself stands for Cross Origin Resource Sharing. By using
              this extension, it allows Data Point to create access to Airbnb's
              API. Without this extension, the access will be blocked by your
              browser and the scraper will not work.
            </p>
          </v-card-text>
        </v-card>
        <v-card class="w-full mx-auto mb-3 card__main" max-width="500">
          <p class="card__headline">Step 2: Enable CORS Unblock Extension</p>
          <v-card-text>
            <p>
              After installing CORS Unblock Extension from Chrome Web Store,
              click on your extension tab and enable the extension. Make sure
              the extension is enabled before you start the scraping process.
            </p>
            <img
              class="w-full"
              src="@/assets/tutorial/airbnb-listings/airbnb-listings-2.jpg"
            />
          </v-card-text>
        </v-card>
        <v-card class="w-full mx-auto mb-3 card__main" max-width="500">
          <p class="card__headline">
            Step 3: Go to Airbnb Listings Scraper page and click Get Started
          </p>
          <v-card-text>
            <p>
              With the extension enabled, we can navigate to Airbnb Listings
              Scraper page and click Get Started.
            </p>
            <img
              class="w-full"
              src="@/assets/tutorial/airbnb-listings/airbnb-listings-3.jpg"
            />
            <img
              class="w-full"
              src="@/assets/tutorial/airbnb-listings/airbnb-listings-3b.jpg"
            />
          </v-card-text>
        </v-card>
        <v-card class="w-full mx-auto mb-3 card__main" max-width="500">
          <p class="card__headline">
            Step 4: Enter Location Name then click Search Location
          </p>
          <v-card-text>
            <p>
              Enter any location you want to scrape Airbnb Listings from. Can be
              a country, city, and specific locations.
            </p>
            <img
              class="w-full"
              src="@/assets/tutorial/airbnb-listings/airbnb-listings-4.jpg"
            />
            <p>
              However, it is advised to not search for locations that is too
              wide and instead search for more specific locations for better
              results. Therefore, it is not advisable to scrape listings of an
              entire country in one sitting. Instead, it is better to scrape
              smaller location and do multiple scrape sessions.
            </p>
          </v-card-text>
        </v-card>
        <v-card class="w-full mx-auto mb-3 card__main" max-width="500">
          <p class="card__headline">Step 5: Choose Location</p>
          <v-card-text>
            <p>
              You will get locations related to the search query you inputted.
              Choose locations that best suit your need. When clicking choose,
              the scraping process will start.
            </p>
            <img
              class="w-full"
              src="@/assets/tutorial/airbnb-listings/airbnb-listings-5.jpg"
            />
          </v-card-text>
        </v-card>
        <v-card class="w-full mx-auto mb-3 card__main" max-width="500">
          <p class="card__headline">
            Step 6: Scraping in progress, don't exit browser
          </p>
          <v-card-text>
            <p>
              Scraping is in progress. Here you can see the status of the
              scraper, how many data collected and the progress.
            </p>
            <p>
              You can wait for the progress to complete and the scraper will
              automatically complete itself.
            </p>
            <p>
              If you're satisfied with the amount of data collected and don't
              want to wait for the process to finish, you can click stop and you
              will download whatever data you have collected so far.
            </p>
            <img
              class="w-full"
              src="@/assets/tutorial/airbnb-listings/airbnb-listings-6.jpg"
            />
          </v-card-text>
        </v-card>
        <v-card class="w-full mx-auto mb-3 card__main" max-width="500">
          <p class="card__headline">Step 7: Preview Dataset</p>
          <v-card-text>
            <p>
              After stopping the scraper, you can preview and explore the
              dataset.
            </p>
            <img
              class="w-full"
              src="@/assets/tutorial/airbnb-listings/airbnb-listings-7.jpg"
            />
          </v-card-text>
        </v-card>
        <v-card class="w-full mx-auto mb-3 card__main" max-width="500">
          <p class="card__headline">
            Step 8: Download CSV, Scrape Again, or Continue to Scrape Reviews
          </p>
          <v-card-text>
            <p>
              If you're satisfied with the dataset, you can download it in CSV
              form. You can also edit the file name before downloading.
            </p>
            <p>
              Next actions you can do is to scrape again on a different location
              or use the downloaded CSV file to scrape Airbnb Reviews.
            </p>
            <p>
              <b
                >Don't forget to turn off the extension after you finish
                scraping since it will affect your connection on other
                websites!</b
              >
            </p>
            <img
              class="w-full"
              src="@/assets/tutorial/airbnb-listings/airbnb-listings-8.jpg"
            />
          </v-card-text>
        </v-card>
      </v-col>
    </v-flex>
  </v-layout>
</template>

<script>
export default {
  head() {
    return {
      title: 'Airbnb Listings Scraper Tutorial',
      meta: [
        // hid is used as unique identifier. Do not use `vmid` for it as it will not work
        {
          hid: 'description',
          name: 'description',
          content: 'Easily get datasets for Big Data research and analysis'
        }
      ]
    }
  }
}
</script>
