<template>
  <v-layout column justify-center align-center>
    <v-flex class="w-full">
      <div class="page__headline w-500 mx-auto">
        <h1>
          Tutorial for Airbnb Reviews Scraper
        </h1>
      </div>
      <v-col class="mb-6">
        <v-card class="w-full mx-auto mb-3 card__main" max-width="500">
          <p class="card__headline">Video Tutorial</p>
          <v-card-text>
            <div style="position: relative; padding-bottom: 62.5%; height: 0;">
              <iframe
                src="https://www.loom.com/embed/5ec646184b574ffc8a79a8f3b49b3a52"
                frameborder="0"
                webkitallowfullscreen
                mozallowfullscreen
                allowfullscreen
                style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"
              ></iframe>
            </div>
          </v-card-text>
        </v-card>
        <v-card class="w-full mx-auto mb-3 card__main" max-width="500">
          <p class="card__headline">
            Step 1: Installing CORS Unblock Extension
          </p>
          <v-card-text>
            <p>
              Before you start, you will need to install CORS Unblock Extension
              from Chrome Web Store, Firefox Web Store, or other extension store
              from the browser of that you use.
            </p>
            <p>
              Any kind of CORS Unblock Extension will work, however, I have
              tried and tested one extension which work perfectly the scraper
              which you can also download on the following link:
              <a
                href="https://chrome.google.com/webstore/detail/cors-unblock/lfhmikememgdcahcdlaciloancbhjino?hl=en"
                target="_blank"
                >CORS Unblock</a
              >
            </p>
            <img
              class="w-full"
              src="@/assets/tutorial/airbnb-reviews/airbnb-reviews-1.jpg"
            />
            <p>
              CORS itself stands for Cross Origin Resource Sharing. By using
              this extension, it allows Data Point to create access to Airbnb's
              API. Without this extension, the access will be blocked by your
              browser and the scraper will not work.
            </p>
          </v-card-text>
        </v-card>
        <v-card class="w-full mx-auto mb-3 card__main" max-width="500">
          <p class="card__headline">Step 2: Enable CORS Unblock Extension</p>
          <v-card-text>
            <p>
              After installing CORS Unblock Extension from Chrome Web Store,
              click on your extension tab and enable the extension. Make sure
              the extension is enabled before you start the scraping process.
            </p>
            <img
              class="w-full"
              src="@/assets/tutorial/airbnb-reviews/airbnb-reviews-2.jpg"
            />
          </v-card-text>
        </v-card>
        <v-card class="w-full mx-auto mb-3 card__main" max-width="500">
          <p class="card__headline">
            Step 3: Go to Airbnb Listings Scraper page and click Get Started
          </p>
          <v-card-text>
            <p>
              With the extension enabled, we can navigate to Airbnb Listings
              Scraper page and click Get Started.
            </p>
            <img
              class="w-full"
              src="@/assets/tutorial/airbnb-reviews/airbnb-reviews-3.jpg"
            />
            <img
              class="w-full"
              src="@/assets/tutorial/airbnb-reviews/airbnb-reviews-3b.jpg"
            />
          </v-card-text>
        </v-card>
        <v-card class="w-full mx-auto mb-3 card__main" max-width="500">
          <p class="card__headline">Step 4: Load CSV File</p>
          <v-card-text>
            <p>
              Choose CSV File that has Airbnb listings data. We will scrape
              reviews of those listings.
            </p>
            <p>
              CSV files downloaded from the Airbnb Listings Scraper will
              immediately be compatible. If you have CSV files from other data
              source, you can use that as well as long as you have listings id
              data included.
            </p>
            <p>After choosing the CSV File, press Load CSV.</p>
            <img
              class="w-full"
              src="@/assets/tutorial/airbnb-reviews/airbnb-reviews-4.jpg"
            />
          </v-card-text>
        </v-card>
        <v-card class="w-full mx-auto mb-3 card__main" max-width="500">
          <p class="card__headline">
            Step 5: Preview CSV and Match Column Names
          </p>
          <v-card-text>
            <p>
              Here you can preview the CSV file and confirm how many listings
              are included in the file.
            </p>
            <img
              class="w-full"
              src="@/assets/tutorial/airbnb-reviews/airbnb-reviews-5.jpg"
            />
            <p>
              You will also have to match the correct column that contain the
              listing id data. For CSV files obtained from Airbnb Listings
              Scraper, the column name will be automatically matched. For other
              CSV files, you will have to match it with the drop down menu
              feature.
            </p>
            <img
              class="w-full"
              src="@/assets/tutorial/airbnb-reviews/airbnb-reviews-5b.jpg"
            />
            <p>
              With all information confirmed, you can press start and the
              scraping process will begin.
            </p>
          </v-card-text>
        </v-card>
        <v-card class="w-full mx-auto mb-3 card__main" max-width="500">
          <p class="card__headline">
            Step 6: Scraping in progress, don't exit browser
          </p>
          <v-card-text>
            <p>
              Scraping is in progress. Here you can see the status of the
              scraper, how many data collected and the progress.
            </p>
            <p>
              You can wait for the progress to complete and the scraper will
              automatically complete itself.
            </p>
            <p>
              If you're satisfied with the amount of data collected and don't
              want to wait for the process to finish, you can click stop and you
              will download whatever data you have collected so far.
            </p>
            <img
              class="w-full"
              src="@/assets/tutorial/airbnb-reviews/airbnb-reviews-6.jpg"
            />
          </v-card-text>
        </v-card>
        <v-card class="w-full mx-auto mb-3 card__main" max-width="500">
          <p class="card__headline">Step 7: Preview Dataset</p>
          <v-card-text>
            <p>
              After stopping the scraper, you can preview and explore the
              dataset.
            </p>
            <img
              class="w-full"
              src="@/assets/tutorial/airbnb-reviews/airbnb-reviews-7.jpg"
            />
          </v-card-text>
        </v-card>
        <v-card class="w-full mx-auto mb-3 card__main" max-width="500">
          <p class="card__headline">
            Step 8: Download CSV or Scrape Again from different CSV File
          </p>
          <v-card-text>
            <p>
              If you're satisfied with the dataset, you can download it in CSV
              form. You can also edit the file name before downloading.
            </p>
            <p>
              Next actions you can do is to scrape again using a different CSV
              file.
            </p>
            <p>
              <b
                >Don't forget to turn off the extension after you finish
                scraping since it will affect your connection on other
                websites!</b
              >
            </p>
            <img
              class="w-full"
              src="@/assets/tutorial/airbnb-reviews/airbnb-reviews-8.jpg"
            />
          </v-card-text>
        </v-card>
      </v-col>
    </v-flex>
  </v-layout>
</template>

<script>
export default {
  head() {
    return {
      title: 'Airbnb Reviews Scraper Tutorial',
      meta: [
        // hid is used as unique identifier. Do not use `vmid` for it as it will not work
        {
          hid: 'description',
          name: 'description',
          content: 'Easily get datasets for Big Data research and analysis'
        }
      ]
    }
  }
}
</script>
