<template>
  <v-layout column justify-center align-center>
    <v-flex class="w-full">
      <div class="page__headline w-500 mx-auto">
        <h1>
          Tutorials
        </h1>
      </div>
      <v-col class="mb-6">
        <v-card class="w-full mx-auto mb-3 card__main" max-width="500">
          <p class="card__headline">Available Tutorials</p>
          <v-card-text>
            <v-btn
              class="w-full mb-2"
              color="primary"
              nuxt
              to="/tutorial/airbnb-listings-scraper"
              >Airbnb Listings Scraper Tutorial</v-btn
            >
            <v-btn
              class="w-full mb-2"
              color="primary"
              nuxt
              to="/tutorial/airbnb-listings-scraper-advance"
              >Airbnb Listings Scraper Advance Tutorial</v-btn
            >
            <v-btn
              class="w-full mb-2"
              color="primary"
              nuxt
              to="/tutorial/airbnb-reviews-scraper"
              >Airbnb Reviews Scraper Tutorial</v-btn
            >
            <v-btn
              class="w-full mb-2"
              color="primary"
              nuxt
              to="/tutorial/tokopedia-products-scraper"
              >Tokopedia Products Scraper Tutorial</v-btn
            >
            <v-btn
              class="w-full mb-2"
              color="primary"
              nuxt
              to="/tutorial/tokopedia-reviews-scraper"
              >Tokopedia Reviews Scraper Tutorial</v-btn
            >
          </v-card-text>
        </v-card>
      </v-col>
    </v-flex>
  </v-layout>
</template>

<script>
export default {
  head() {
    return {
      title: 'Big Data',
      meta: [
        // hid is used as unique identifier. Do not use `vmid` for it as it will not work
        {
          hid: 'description',
          name: 'description',
          content: 'Easily get datasets for Big Data research and analysis'
        }
      ]
    }
  }
}
</script>
