<template>
  <v-layout column justify-center align-center>
    <v-flex class="w-full">
      <div class="page__headline w-500 mx-auto">
        <h1>
          Tutorial for Tokopedia Reviews Scraper
        </h1>
      </div>
      <v-col class="mb-6">
        <v-card class="w-full mx-auto mb-3 card__main" max-width="500">
          <p class="card__headline">Video Tutorial</p>
          <v-card-text>
            <div style="position: relative; padding-bottom: 62.5%; height: 0;">
              <div
                style="position: relative; padding-bottom: 62.5%; height: 0;"
              >
                <iframe
                  src="https://www.loom.com/embed/5cb991d7150a44c1bcd51f158d779bed"
                  frameborder="0"
                  webkitallowfullscreen
                  mozallowfullscreen
                  allowfullscreen
                  style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"
                ></iframe>
              </div>
            </div>
          </v-card-text>
        </v-card>
        <v-card class="w-full mx-auto mb-3 card__main" max-width="500">
          <p class="card__headline">
            Step 1: Installing Origin & CORS Changer Extension
          </p>
          <v-card-text>
            <p>
              Before you start, you will need to install Origin & CORS Changer
              Extension from Chrome Web Store, Firefox Web Store, or other
              extension store from the browser of that you use.
            </p>
            <p>
              Any kind of Origin & CORS Changer Extension will work, however, I
              have tried and tested one extension which work perfectly the
              scraper which you can also download on the following link:
              <a
                href="https://chrome.google.com/webstore/detail/moesif-orign-cors-changer/digfbfaphojjndkpccljibejjbppifbc/related?hl=en-US"
                target="_blank"
                >Moesif Orign & CORS Changer</a
              >
            </p>
            <p>
              CORS itself stands for Cross Origin Resource Sharing. By using
              this extension, it allows Data Point to create access to
              Tokopedia's API. Without this extension, the access will be
              blocked by your browser and the scraper will not work.
            </p>
            <img
              class="w-full"
              src="@/assets/tutorial/tokopedia-reviews/tokopedia-reviews-1.jpg"
            />
          </v-card-text>
        </v-card>
        <v-card class="w-full mx-auto mb-3 card__main" max-width="500">
          <p class="card__headline">
            Step 2: Enable Origin & CORS Changer Extension
          </p>
          <v-card-text>
            <p>
              After installing Origin & CORS Extension from Chrome Web Store,
              click on the settings and choose options. We will need to make
              several adjustments.
            </p>
            <img
              class="w-full"
              src="@/assets/tutorial/tokopedia-reviews/tokopedia-reviews-2.jpg"
            />
          </v-card-text>
        </v-card>
        <v-card class="w-full mx-auto mb-3 card__main" max-width="500">
          <p class="card__headline">Step 3: Set Origin Settings on Extension</p>
          <v-card-text>
            <p>
              If you use the recommended extension, you will need to activate
              advanced settings.
            </p>
            <p>
              To enable advanced settings, you have to register an email
              address. However, it does not have to be a real email address.
              Therefore, just enter any random email address to gain access (I
              wrote random@randomemail.com) as my email address.
            </p>
            <img
              class="w-full"
              src="@/assets/tutorial/tokopedia-reviews/tokopedia-reviews-3.jpg"
            />
          </v-card-text>
        </v-card>
        <v-card class="w-full mx-auto mb-3 card__main" max-width="500">
          <p class="card__headline">Step 4: Set Origin Field and Save</p>
          <v-card-text>
            <p>
              After accessing the advance feature, go to the Origin Field and
              enter https://www.tokopedia.com and then click save. We are now
              set to start scraping.
            </p>
            <img
              class="w-full"
              src="@/assets/tutorial/tokopedia-reviews/tokopedia-reviews-4.jpg"
            />
            <img
              class="w-full"
              src="@/assets/tutorial/tokopedia-reviews/tokopedia-reviews-4b.jpg"
            />
            <p>
              Don't forget to turn on the extension. Without turning on the
              extension, the scraper will not work.
            </p>
            <img
              class="w-full"
              src="@/assets/tutorial/tokopedia-products/tokopedia-products-4c.jpg"
            />
          </v-card-text>
        </v-card>
        <v-card class="w-full mx-auto mb-3 card__main" max-width="500">
          <p class="card__headline">
            Step 5: Go to Tokopedia Reviews Scraper Page and press Get Started
          </p>
          <v-card-text>
            <p>
              Make sure the extension is on by navigating to the Extension Tab
              on your browser. With the extension enabled, we can navigate to
              Tokopedia Reviews Scraper page and click Get Started.
            </p>
            <img
              class="w-full"
              src="@/assets/tutorial/tokopedia-reviews/tokopedia-reviews-5.jpg"
            />
          </v-card-text>
        </v-card>
        <v-card class="w-full mx-auto mb-3 card__main" max-width="500">
          <p class="card__headline">
            Step 6: Load CSV File
          </p>
          <v-card-text>
            <p>
              Choose CSV File that has Tokopedia products data. We will scrape
              reviews of those products.
            </p>
            <img
              class="w-full"
              src="@/assets/tutorial/tokopedia-reviews/tokopedia-reviews-6.jpg"
            />
            <p>
              CSV files downloaded from the Tokopedia Products Scraper will
              immediately be compatible. If you have CSV files from other data
              source, you can use that as well as long as you have product id
              data included.
            </p>
            <p>After choosing the CSV File, press Load CSV.</p>
          </v-card-text>
        </v-card>
        <v-card class="w-full mx-auto mb-3 card__main" max-width="500">
          <p class="card__headline">
            Step 7: Preview CSV and Match Column Names
          </p>
          <v-card-text>
            <p>
              Here you can preview the CSV file and confirm how many products
              are included in the file.
            </p>
            <img
              class="w-full"
              src="@/assets/tutorial/tokopedia-reviews/tokopedia-reviews-7.jpg"
            />
            <p>
              You will also have to match the correct column that contain the
              product id data. For CSV files obtained from Tokopedia Products
              Scraper, the column name will be automatically matched. For other
              CSV files, you will have to match it with the drop down menu
              feature.
            </p>
            <img
              class="w-full"
              src="@/assets/tutorial/tokopedia-reviews/tokopedia-reviews-7b.jpg"
            />
            <p>
              With all information confirmed, you can press start and the
              scraping process will begin.
            </p>
          </v-card-text>
        </v-card>
        <v-card class="w-full mx-auto mb-3 card__main" max-width="500">
          <p class="card__headline">
            Step 8: Scraping in progress, don't exit browser
          </p>
          <v-card-text>
            <p>
              Scraping is in progress. Here you can see the status of the
              scraper, how many data collected and the progress.
            </p>
            <p>
              You can wait for the progress to complete and the scraper will
              automatically complete itself.
            </p>
            <p>
              If you're satisfied with the amount of data collected and don't
              want to wait for the process to finish, you can click stop and you
              will download whatever data you have collected so far.
            </p>
            <img
              class="w-full"
              src="@/assets/tutorial/tokopedia-reviews/tokopedia-reviews-8.jpg"
            />
          </v-card-text>
        </v-card>
        <v-card class="w-full mx-auto mb-3 card__main" max-width="500">
          <p class="card__headline">Step 9: Preview Dataset</p>
          <v-card-text>
            <p>
              After stopping the scraper, you can preview and explore the
              dataset.
            </p>
            <img
              class="w-full"
              src="@/assets/tutorial/tokopedia-reviews/tokopedia-reviews-9.jpg"
            />
          </v-card-text>
        </v-card>
        <v-card class="w-full mx-auto mb-3 card__main" max-width="500">
          <p class="card__headline">
            Step 10: Download CSV or Scrape Again from different CSV File
          </p>
          <v-card-text>
            <p>
              If you're satisfied with the dataset, you can download it in CSV
              form. You can also edit the file name before downloading.
            </p>
            <p>
              Next actions you can do is to scrape again using a different CSV
              file.
            </p>
            <p>
              <b
                >Don't forget to turn off the extension after you finish
                scraping since it will affect your connection on other
                websites!</b
              >
            </p>
            <img
              class="w-full"
              src="@/assets/tutorial/tokopedia-reviews/tokopedia-reviews-10.jpg"
            />
          </v-card-text>
        </v-card>
      </v-col>
    </v-flex>
  </v-layout>
</template>

<script>
export default {
  head() {
    return {
      title: 'Tokopedia Reviews Scraper Tutorial',
      meta: [
        // hid is used as unique identifier. Do not use `vmid` for it as it will not work
        {
          hid: 'description',
          name: 'description',
          content: 'Easily get datasets for Big Data research and analysis'
        }
      ]
    }
  }
}
</script>
