<template>
  <v-layout column justify-center align-center>
    <v-flex class="w-full">
      <div class="page__headline w-500 mx-auto">
        <h1>
          Airbnb Listings Scraper
        </h1>
      </div>
      <v-col class="mb-6">
        <v-scroll-x-transition hide-on-leave>
          <v-card
            class="w-full mx-auto mb-2 card__main"
            max-width="500"
            v-if="state.card === 'default'"
          >
            <p class="card__headline">How to use the Scraper</p>
            <v-card-text>
              <p class="card__subhead">
                IMPORTANT: Install CORS Unblock Extension
              </p>
              <p class="card__information">
                Before you start, you will need to install CORS Unblock
                Extension on Chrome, Firefox or other browsers you are using.
                This extension is required to make connection between your
                browser and Airbnb's API.
                <b>Without this, the scraper will not work.</b>
                <br />
                You can search for "CORS Unblock" on Chrome Web Store or use
                this extension:
                <a
                  href="https://chrome.google.com/webstore/detail/cors-unblock/lfhmikememgdcahcdlaciloancbhjino?hl=en"
                  target="_blank"
                  >CORS Unblock</a
                >
              </p>
              <p class="card__information">
                <b>Don't forget to disable the extension after usage.</b> It
                will affect your connection on other websites.
              </p>
              <p class="card__subhead">
                Limitations
              </p>
              <p class="card__information">
                1. Scraping is done directly between your browser and Airbnb's
                API. Therefore, scraping speed is influenced by your personal
                internet speed.
                <br />
                2. Location search looks for available Boundary Box provided by
                <a href="https://positionstack.com/" target="_blank"
                  >PositionStack</a
                >. Accuracy varies depending on PositionStack's database and may
                not match Airbnb's data. Some location searches may not return
                any Airbnb listings.
                <br />
                3. Airbnb have Rate Limitation to access their API. If you
                scrape too many data in one sitting, the scraping process will
                slow down considerably.
              </p>
              <p class="card__subhead text--red">
                Disclaimers
              </p>
              <p class="card__information">
                This tool is created and provided
                <b>for research and education purposes only!</b> It is strongly
                prohibited to commercialize the tool or the produced datasets in
                any way. Please use this tool responsibly and all liabilities
                are each user's responsibility.
              </p>
            </v-card-text>
            <v-card-actions>
              <v-btn color="green" nuxt to="/tutorial/airbnb-listings-scraper"
                >Tutorial</v-btn
              >
              <v-spacer />
              <v-btn color="primary" nuxt @click="state.card = 'search'"
                >Get Started!</v-btn
              >
            </v-card-actions>
          </v-card>
        </v-scroll-x-transition>
        <v-scroll-x-transition hide-on-leave>
          <v-card
            class="mx-auto mb-3 card__main"
            max-width="500"
            v-if="state.card === 'search'"
          >
            <p class="card__headline">Find Locations</p>
            <v-card-text>
              <v-text-field
                v-model="model.location"
                label="Type in country, city, and other locations..."
                required
              ></v-text-field>
              <p class="card__subhead">
                Tips
              </p>
              <p class="card__information">
                You will get better results if you search for more specific
                locations and area that is not too wide
              </p>
              <p class="card__subhead">
                Limitation
              </p>
              <p class="card__information">
                Location search looks for available Boundary Box provided by
                PositionStack. Accuracy varies depending on PositionStack's
                database and may not match Airbnb's data. Some location searches
                may not return any Airbnb listings.
              </p>
            </v-card-text>
            <v-card-actions>
              <v-spacer />
              <v-btn
                color="primary"
                nuxt
                @click="locationSearch"
                :loading="state.searchLoading"
                :disabled="state.searchLoading"
                >Search Location</v-btn
              >
            </v-card-actions>
          </v-card>
        </v-scroll-x-transition>
        <v-scroll-x-transition hide-on-leave>
          <v-card
            class="mx-auto mb-2 card__main"
            max-width="500"
            v-if="state.card === 'search'"
          >
            <p class="card__headline">
              Locations Boundary Box - Advance Options
            </p>
            <v-card-text>
              <p class="card__subhead">
                About Advance Options
              </p>
              <p class="card__information">
                This option allows you to enter your own geo boundary box
                instead of using the one provided by PositionStack.
              </p>
              <p class="card__subhead">
                How to Use
              </p>
              <p class="card__information">
                1. Go to Airbnb.com <br />
                2. Enter your desired location on the search menu <br />
                3. <b>Zoom in 3 times</b> on the Map View (Make sure Map View
                and Search as I move the map option is on)<br />
                4. Pan to the <b>Top Left</b> of the location on the map. This
                will be the start of the geo boundary box. Copy link and paste
                on "Airbnb URL - Start" box <br />
                5. Pan to the <b>Bottom Right</b> of the location on the map.
                This will be the end of the geo boundary box. Copy link and
                paste on "Airbnb URL - End" box<br />
                6. You can directly edit the Boundary Box values below
              </p>

              <v-text-field
                v-model="model.locationURLStart"
                label="Airbnb URL - Start"
                required
                @input="locationParse"
              ></v-text-field>
              <v-text-field
                v-model="model.locationURLEnd"
                label="Airbnb URL - End"
                required
                @input="locationParse"
              ></v-text-field>

              <p class="card__subhead">
                Boundary Box
              </p>
              <p class="card__information">
                You can edit these Boundary Box fields if you have the exact
                coordinates
              </p>
              <v-text-field
                v-model="model.ne_lat"
                label="Starting North East Latitude"
                required
              ></v-text-field>
              <v-text-field
                v-model="model.ne_lng"
                label="Starting North East Longitude"
                required
              ></v-text-field>
              <v-text-field
                v-model="model.sw_lat"
                label="Starting South West Latitude"
                required
              ></v-text-field>
              <v-text-field
                v-model="model.sw_lng"
                label="Starting South West Longitude"
                required
              ></v-text-field>
              <v-text-field
                v-model="model.end_lat"
                label="Ending South West Latitude"
                required
              ></v-text-field>
              <v-text-field
                v-model="model.end_lng"
                label="Ending North East Longitude"
                required
              ></v-text-field>

              <v-alert dense type="error" v-if="state.searchAdvanceAlert">
                Ending South West Latitude must be greater than Starting South
                West Latitude. Ending North East Longitude must be greater than
                Starting North East Longitude.
              </v-alert>
            </v-card-text>
            <v-card-actions>
              <v-btn
                color="green"
                nuxt
                to="/tutorial/airbnb-listings-scraper-advance"
                >Tutorial</v-btn
              >
              <v-spacer />
              <v-btn
                color="primary"
                nuxt
                @click="locationParseStart"
                :loading="state.searchLoading"
                :disabled="state.searchLoading"
                >continue</v-btn
              >
            </v-card-actions>
          </v-card>
        </v-scroll-x-transition>
        <v-scroll-x-transition hide-on-leave>
          <v-card
            class="w-full mx-auto mb-2 card__main"
            max-width="500"
            v-if="state.card === 'location'"
          >
            <p class="card__headline">Available Locations</p>
            <v-card-text v-if="state.locationCard === 'empty'">
              <p>No locations found on this search</p>
            </v-card-text>
            <v-card-text v-if="state.locationCard === 'populated'">
              <div
                v-for="(location, index) in store.locations"
                :key="index"
                class="d-flex flex-row justify-space-between"
              >
                <p>{{ location.label }}</p>
                <v-btn color="primary" @click="locationChoose(location)"
                  >Choose</v-btn
                >
              </div>
            </v-card-text>
            <v-card-actions>
              <v-btn color="secondary" nuxt @click="locationBack"
                >Choose Different Location</v-btn
              >
              <v-spacer />
            </v-card-actions>
          </v-card>
        </v-scroll-x-transition>
        <v-scroll-x-transition hide-on-leave>
          <v-card
            class="w-full mx-auto mb-2 card__main"
            max-width="500"
            v-if="state.card === 'scraper'"
          >
            <p class="card__headline">
              <v-progress-circular
                indeterminate
                color="red"
                :size="15"
                :width="2"
              ></v-progress-circular>
              Scraping in Progress...
            </p>

            <v-card-text>
              <p class="card__subhead">
                Scraper Status
              </p>
              <p class="mb-0">
                <b>Status</b>
                <span v-if="state.scraperStatus === 'stop'">Idle</span>
                <span v-if="state.scraperStatus === 'scraping'">Running</span>
                <span v-if="state.scraperStatus === 'stopping'">Stopping</span>
              </p>
              <p class="mb-0">
                <b>Listings Collected</b>
                {{ `${state.scraperTotal}` }}
              </p>
              <p class="mb-0">
                <b>Progress</b>
                {{ `${state.scraperProgress}` }}/{{
                  `${state.scraperProgressMax}`
                }}
              </p>

              <v-alert dense dismissible type="warning" class="mt-4 mb-0">
                Don't close browser while scraper in progress
              </v-alert>
            </v-card-text>

            <v-card-actions>
              <v-spacer />
              <v-btn
                color="primary"
                nuxt
                @click="scrapeControl"
                :loading="state.scraperStopLoading"
                :disabled="state.scraperStopLoading"
                >Stop Scraping and Download File</v-btn
              >
            </v-card-actions>
          </v-card>
        </v-scroll-x-transition>
        <v-scroll-x-transition hide-on-leave>
          <v-card
            class="w-full mx-auto mb-2 card__main"
            max-width="1000"
            v-if="state.card === 'dataset'"
          >
            <p class="card__headline">Dataset Results</p>
            <v-card-text>
              <v-alert dense dismissible type="warning" class="mb-5">
                Don't forget to turn off CORS Unblock Extension after usage
              </v-alert>
              <v-data-table
                :headers="store.datasetHeader"
                :items="store.dataset"
                :items-per-page="5"
                class="elevation-1"
              ></v-data-table>
            </v-card-text>
            <v-card-text>
              <v-row align="center" class="px-4">
                <v-text-field
                  v-model="model.dataset"
                  label="Dataset File Name"
                  class="pr-4"
                  required
                ></v-text-field>
                <v-btn color="primary" nuxt @click="datasetDownload"
                  >Download CSV</v-btn
                >
              </v-row>
            </v-card-text>
            <v-card-actions>
              <v-spacer />
              <v-btn color="primary" nuxt @click="scrapeRestart"
                >Scrape another dataset</v-btn
              >
              <v-btn color="primary" nuxt to="/airbnb-reviews-scraper"
                >Scrape Airbnb Reviews</v-btn
              >
            </v-card-actions>
          </v-card>
        </v-scroll-x-transition>
        <v-scroll-x-transition hide-on-leave>
          <v-card
            class="w-full mx-auto mb-2 card__main"
            max-width="500"
            v-if="state.card === 'cors'"
          >
            <p class="card__headline">Please Enable CORS Unblock Extension</p>
            <v-card-text>
              <v-alert dense type="error">
                It seems you don't have CORS Unblock Extension Installed or
                Activated
              </v-alert>
              <p class="card__subhead">
                Why do you need CORS Unblock Extension?
              </p>
              <p class="card__information">
                Before you start, you will need to install CORS Unblock
                Extension on Chrome, Firefox or other browsers you are using.
                This extension is required to make connection between your
                browser and Airbnb's API.
                <b>Without this, the scraper will not work.</b>
                <br />
                You can search for "CORS Unblock" on Chrome Web Store or use
                this extension:
                <a
                  href="https://chrome.google.com/webstore/detail/cors-unblock/lfhmikememgdcahcdlaciloancbhjino?hl=en"
                  target="_blank"
                  >CORS Unblock</a
                >
              </p>
              <p class="card__information">
                <b>Don't forget to disable the extension after usage.</b> It
                will affect your connection on other websites.
              </p>
              <p class="card__subhead">
                Already enabled the extension?
                <b>Click "Continue" to continue from where you left off.</b>
              </p>
            </v-card-text>
            <v-card-actions>
              <v-btn color="secondary" nuxt @click="state.card = 'default'"
                >Back to home</v-btn
              >
              <v-spacer />
              <v-btn color="primary" nuxt @click="locationParseStart"
                >Continue</v-btn
              >
            </v-card-actions>
          </v-card>
        </v-scroll-x-transition>
      </v-col>
    </v-flex>
  </v-layout>
</template>

<script>
import Logo from '~/components/Logo.vue'
import VuetifyLogo from '~/components/VuetifyLogo.vue'
import axios from 'axios'

import { scrape as fnScraper, fnControl } from '~/scraper/airbnb-listings.js'
import {
  checkCORS,
  checkExit,
  flattenObject,
  replacer
} from '~/assets/helper.js'

export default {
  components: {
    Logo,
    VuetifyLogo
  },
  head() {
    return {
      title: 'Airbnb Listings Scraper',
      meta: [
        // hid is used as unique identifier. Do not use `vmid` for it as it will not work
        {
          hid: 'description',
          name: 'description',
          content:
            'Easily get Airbnb Listings data for Big Data research and analysis'
        }
      ]
    }
  },
  data: function() {
    return {
      meta: {
        key: 'daf7348d4152389a0cff57b1c030e04c'
      },
      model: {
        location: '',
        locationURLStart: '',
        locationURLEnd: '',
        dataset: 'Airbnb Listings Dataset',
        ne_lat: 0,
        ne_lng: 0,
        sw_lat: 0,
        sw_lng: 0,
        end_lat: 0,
        end_lng: 0
      },
      state: {
        card: 'default',
        searchLoading: false,
        scraperStopLoading: false,
        searchAdvanceAlert: false,
        locationCard: 'empty',
        scraperTotal: 0,
        scraperProgress: 0,
        scraperProgressMax: 0,
        scraperStatus: 'stop'
      },
      store: {
        locations: [],
        dataset: [],
        datasetHeader: [],
        csvContent: ''
      }
    }
  },
  methods: {
    locationSearch: async function() {
      this.state.searchLoading = true
      let result = await axios.get(
        'https://cors-anywhere.herokuapp.com/http://api.positionstack.com/v1/forward',
        {
          params: {
            access_key: this.meta.key,
            query: this.model.location,
            bbox_module: 1
          }
        }
      )

      if (result.data.data.length === 0) {
        this.state.card = 'location'
        this.state.locationCard = 'empty'
        this.state.searchLoading = false
        return
      }

      this.store.locations = result.data.data.filter(
        (x) => x.bbox_module.length === 4
      )
      if (this.store.locations.length === 0) {
        this.state.locationCard = 'empty'
      }

      this.state.locationCard = 'populated'
      this.state.searchLoading = false
      this.state.card = 'location'
    },
    locationParse: function() {
      let parseStart = new URLSearchParams(this.model.locationURLStart)
      let parseEnd = new URLSearchParams(this.model.locationURLEnd)
      this.model.ne_lat = parseStart.get('ne_lat')
      this.model.ne_lng = parseStart.get('ne_lng')
      this.model.sw_lat = parseStart.get('sw_lat')
      this.model.sw_lng = parseStart.get('sw_lng')
      this.model.end_lat = parseEnd.get('sw_lat')
      this.model.end_lng = parseEnd.get('ne_lng')
    },
    locationParseStart: function() {
      let payload = {
        increment: 1,
        ne_lat: this.model.ne_lat,
        ne_lng: this.model.ne_lng,
        sw_lat: this.model.sw_lat,
        sw_lng: this.model.sw_lng,
        end_lat: this.model.end_lat,
        end_lng: this.model.end_lng
      }

      if (
        payload.sw_lat > payload.end_lat ||
        payload.ne_lng > payload.end_lng
      ) {
        this.state.searchAdvanceAlert = true
        return
      }

      this.state.searchAdvanceAlert = false

      this.scrapeStart(payload)
    },
    locationChoose: function(location) {
      //Define
      let lat = location.bbox_module[1]
      let lng = location.bbox_module[0]
      let end_lat = location.bbox_module[3]
      let end_lng = location.bbox_module[2]
      let payload = {
        increment: 1,
        ne_lat: parseFloat(String(lat) + '001'),
        ne_lng: parseFloat(String(lng) + '001'),
        sw_lat: parseFloat(String(lat) + '001') - 0.02,
        sw_lng: parseFloat(String(lng) + '001') - 0.02,
        end_lat: parseFloat(String(end_lat) + '001'),
        end_lng: parseFloat(String(end_lng) + '001')
      }

      //Add to Model
      this.model.ne_lat = payload.ne_lat
      this.model.ne_lng = payload.ne_lng
      this.model.sw_lat = payload.sw_lat
      this.model.sw_lng = payload.sw_lng
      this.model.end_lat = payload.end_lat
      this.model.end_lng = payload.end_lng

      this.scrapeStart(payload)
    },
    locationBack: function() {
      this.store.locations = []
      this.model.location = ''
      this.state.card = 'search'
    },
    scrapeControl: async function() {
      this.state.scraperStatus = 'stopping'
      this.state.scraperStopLoading = true
      await fnControl({ status: 'stop' })
    },
    scrapeStart: async function(payload) {
      let self = this

      //Check CORS
      let corsOK = await checkCORS()
      if (!corsOK) {
        this.state.card = 'cors'
        return
      }

      this.state.card = 'scraper'
      await checkExit(true)

      //Define

      //Call Scraper
      await fnControl({ status: 'start' })
      let results = await fnScraper(payload, (msg) => {
        if (msg.type === 'status') {
          self.state.scraperStatus = msg.status
        }
        if (msg.type === 'items') {
          self.state.scraperTotal = self.state.scraperTotal + msg.items
        }
        if (msg.type === 'progress') {
          self.state.scraperProgress = self.state.scraperProgress + msg.progress
        }
        if (msg.type === 'progress max') {
          self.state.scraperProgressMax = msg.progressMax
        }
      })

      await checkExit(false)
      this.state.scraperStopLoading = false

      // Flatten Dataset
      let flattenDataset = results.data.map((x) => flattenObject(x))
      const longest = flattenDataset.reduce(function(a, b) {
        return Object.keys(a).length > Object.keys(b).length ? a : b
      })

      // Prepare CSV
      const header = Object.keys(longest)
      let csv = flattenDataset.map((row) =>
        header
          .map((fieldName) => JSON.stringify(row[fieldName], replacer))
          .join(',')
      )
      csv.unshift(header.join(','))
      csv = csv.join('\n')

      //Store Dataset
      self.store.csvContent = csv
      self.store.datasetHeader = header.map((x) => {
        return {
          text: x,
          value: x
        }
      })
      self.store.dataset = results.data
      self.state.card = 'dataset'
    },
    scrapeRestart: function() {
      let self = this

      self.store.dataset = []
      self.store.datasetHeader = []
      self.store.csvContent = ''

      self.state.card = 'search'
      self.state.locationCard = 'empty'
      self.state.searchAdvanceAlert = false
      self.state.scraperTotal = 0
      self.state.scraperProgress = 0
      self.state.scraperProgressMax = 0
      self.state.scraperStatus = 'stop'
      self.store.locations = []
      self.model.location = ''

      self.model.locationURLStart = ''
      self.model.locationURLEnd = ''
      self.model.ne_lat = 0
      self.model.ne_lng = 0
      self.model.sw_lat = 0
      self.model.sw_lng = 0
      self.model.end_lat = 0
      self.model.end_lng = 0
    },
    datasetDownload: function() {
      let self = this
      //Download CSV
      var csvData = new Blob([this.store.csvContent], { type: 'text/csv' }) //new way
      var csvUrl = URL.createObjectURL(csvData)
      var link = document.createElement('a')
      link.setAttribute('href', csvUrl)
      link.setAttribute('download', this.model.dataset)
      document.body.appendChild(link) // Required for FF

      //Trigger Download
      link.click()
    }
  }
}
</script>
