<template>
  <v-layout column justify-center align-center>
    <v-flex class="w-full">
      <div class="page__headline w-1000 mx-auto">
        <h1>
          Datasets by Datapoint
        </h1>
      </div>
      <v-col class="mb-6">
        <v-card class="w-full mx-auto mb-3 card__main" max-width="1000">
          <p class="card__headline">Information</p>
          <v-card-text>
            <p>
              In this page we list datasets that have been previously scraped
              using Data Point and uploaded for sharing. This is designed for
              those who want to immediately grab a handful of data without going
              through the scraping process.
            </p>

            <p>
              Data will be updated periodically. If you want submit your
              datasets (Doesn't have to be datasets from Data Point), you can
              contact me on twitter
              <a href="https://twitter.com/marcelc63" target="_blank"
                >@marcelc63</a
              >
              or email me at
              <a href="mailto:marcelc6363@gmail.com">marcelc6363@gmail.com</a>
            </p>
          </v-card-text>
        </v-card>
        <v-card class="w-full mx-auto mb-2 card__main" max-width="1000">
          <p class="card__headline">Free Datasets</p>
          <v-card-text>
            <v-text-field
              v-model="search"
              prepend-icon="mdi-magnify"
              label="Search"
              single-line
              hide-details
            ></v-text-field>
            <v-data-table
              :headers="datasetHeader"
              :items="dataset"
              :items-per-page="10"
              :search="search"
              class="elevation-1"
            >
              <template v-slot:item.amount="{ item }">
                {{ parseInt(item.amount).toLocaleString() }}
              </template>
              <template v-slot:item.link="{ item }">
                <a :href="item.link" target="_blank"
                  ><v-icon color="blue darken-2">mdi-download</v-icon></a
                >
              </template>
            </v-data-table>
          </v-card-text>
          <v-card-actions>
            <!-- <v-spacer />
            <v-btn color="primary" nuxt @click="scrapeRestart"
              >Scrape another dataset</v-btn
            > -->
          </v-card-actions>
        </v-card>
        <v-card class="w-full mx-auto mb-3 card__main" max-width="1000">
          <p class="card__headline">Disclaimer</p>
          <v-card-text>
            <p>
              This tool is created and provided
              <b>for research and education purposes only!</b> It is strongly
              prohibited to commercialize the tool or the produced datasets in
              any way. Please use this tool responsibly and all liabilities are
              each user's responsibility.
            </p>
          </v-card-text>
        </v-card>
      </v-col>
    </v-flex>
  </v-layout>
</template>

<script>
import { datasets } from '@/assets/datasets.js'

export default {
  head() {
    return {
      title: 'Big Data Datasets Repository',
      meta: [
        // hid is used as unique identifier. Do not use `vmid` for it as it will not work
        {
          hid: 'description',
          name: 'description',
          content: 'Easily get datasets for Big Data research and analysis'
        }
      ]
    }
  },
  data: function() {
    return {
      search: '',
      datasetHeader: [
        { text: 'File Name', value: 'filename' },
        { text: 'Platform', value: 'platform' },
        { text: 'Data Type', value: 'datatype' },
        { text: 'Amount', value: 'amount' },
        { text: 'Author', value: 'author' },
        { text: 'Download Link', value: 'link', align: 'center' }
      ],
      dataset: [...datasets]
    }
  }
}
</script>
