<template>
  <v-layout column justify-center align-center>
    <v-flex class="w-full">
      <div class="page__headline w-500 mx-auto">
        <h1>
          Welcome to Data Point
        </h1>
      </div>
      <v-col class="mb-6">
        <v-card class="w-full mx-auto mb-3 card__main" max-width="500">
          <p class="card__headline">What is Data Point?</p>
          <v-card-text>
            <p>
              Data Point is a user friendly Data Scraping tool that helps in
              collecting information from digital platforms. Supported platforms
              and datasets will be updated periodically.
            </p>
          </v-card-text>
        </v-card>
        <v-card class="w-full mx-auto mb-3 card__main" max-width="500">
          <v-card-text>
            <p class="card__headline">Data Point in Action</p>
            <div
              style="position: relative; padding-bottom: 57.324840764331206%; height: 0;"
            >
              <iframe
                src="https://www.loom.com/embed/250782c9bb7e4f599f59651ba897223a"
                frameborder="0"
                webkitallowfullscreen
                mozallowfullscreen
                allowfullscreen
                style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"
              ></iframe>
            </div>
          </v-card-text>
        </v-card>
        <v-card class="w-full mx-auto mb-3 card__main" max-width="500">
          <p class="card__headline">Supported Tools</p>
          <v-card-text>
            <v-btn
              class="w-full mb-2"
              color="primary"
              nuxt
              to="/airbnb-listings-scraper"
              >Airbnb Listings Scraper</v-btn
            >
            <v-btn
              class="w-full mb-2"
              color="primary"
              nuxt
              to="/airbnb-reviews-scraper"
              >Airbnb Reviews Scraper</v-btn
            >
            <v-btn
              class="w-full mb-2"
              color="primary"
              nuxt
              to="/tokopedia-products-scraper"
              >Tokopedia Products Scraper</v-btn
            >
            <v-btn
              class="w-full mb-2"
              color="primary"
              nuxt
              to="/tokopedia-reviews-scraper"
              >Tokopedia Reviews Scraper</v-btn
            >
            <v-btn
              class="w-full mb-2"
              color="primary"
              nuxt
              to="/datasets-repository"
              >Datasets Repository</v-btn
            >
            <v-btn
              class="w-full mb-2"
              color="primary"
              nuxt
              to="/request-datasets-scraper"
              >Request Datasets</v-btn
            >
          </v-card-text>
        </v-card>
        <v-card class="w-full mx-auto mb-3 card__main" max-width="500">
          <p class="card__headline">How to use the Scraper</p>
          <v-card-text>
            <p class="card__subhead">
              IMPORTANT: Install CORS Unblock Extension and Origin & CORS
              Changer Extension
            </p>
            <p>
              Before you start, you will need to install CORS Unblock Extension
              and Origin & CORS Changer Extension on Chrome, Firefox or other
              browsers you are using. This extension is required to make
              connection between your browser and Platform's API.
              <b>Without this, the scraper will not work.</b>
            </p>
            <p>
              You can search for "CORS Unblock" on Chrome Web Store or use this
              extension:
              <a
                href="https://chrome.google.com/webstore/detail/cors-unblock/lfhmikememgdcahcdlaciloancbhjino?hl=en"
                target="_blank"
                >CORS Unblock</a
              >
            </p>
            <p>
              You can search for "Origin & CORS Changer" on Chrome Web Store or
              use this extension:
              <a
                href="https://chrome.google.com/webstore/detail/moesif-orign-cors-changer/digfbfaphojjndkpccljibejjbppifbc/related?hl=en-US"
                target="_blank"
                >Moesif Orign & CORS Changer</a
              >
            </p>
            <p>
              <b>Don't forget to disable the extension after usage.</b> It will
              affect your connection on other websites.
            </p>
            <p class="card__subhead">
              Limitations
            </p>
            <p>
              1. Scraping is done directly between your browser and Platform's
              API. Therefore, scraping speed is influenced by your personal
              internet speed.
              <br />
              2. There may be some mismatch in the information shown on the
              Platform's website and the data collected by the scraper due to
              connection limitations.
              <br />
              3. Platforms have Rate Limitation to access their API. If you
              scrape too many data in one seating, the scraping process will
              slow down considerably.
            </p>

            <p class="card__subhead">
              Tutorials
            </p>
            <p>
              I have also wrote detailed written and video tutorials for each
              scraper tools. Tutorials can be access through the button below:
            </p>
            <v-btn class="w-full mb-2" color="primary" nuxt to="/tutorial"
              >View Tutorials</v-btn
            >
          </v-card-text>
        </v-card>
        <v-card class="w-full mx-auto mb-3 card__main" max-width="500">
          <p class="card__headline">Disclaimer</p>
          <v-card-text>
            <p>
              This tool is created and provided
              <b>for research and education purposes only!</b> It is strongly
              prohibited to commercialize the tool or the produced datasets in
              any way. Please use this tool responsibly and all liabilities are
              each user's responsibility.
            </p>
          </v-card-text>
        </v-card>
        <v-card class="w-full mx-auto mb-3 card__main" max-width="500">
          <p class="card__headline">Story</p>
          <v-card-text>
            <p>
              Data Point is a byproduct of my Big Data Thesis on Airbnb Customer
              Reviews. During the writing of my thesis, data collection is one
              of the main challenges. I ended up creating a custom script to
              collect data. The same custom script I packaged the web
              application Data Point. I hope that sharing this tool will ease
              the burden on others facing similar challenges doing Big Data
              research.
            </p>
            <p>Cheers, Marcel</p>
          </v-card-text>
        </v-card>
        <v-card class="w-full mx-auto mb-3 card__main" max-width="500">
          <p class="card__headline">Contact</p>
          <v-card-text>
            <p>
              If you have feedback, questions, and other inquiries, you can
              reach me on twitter
              <a href="https://twitter.com/marcelc63" target="_blank"
                >@marcelc63</a
              >
              or email me at
              <a href="mailto:marcelc6363@gmail.com">marcelc6363@gmail.com</a>.
            </p>
          </v-card-text>
        </v-card>
        <v-card class="w-full mx-auto mb-3 card__main" max-width="500">
          <p class="card__headline">Contribution</p>
          <v-card-text>
            <p>
              The project is open source and hosted on BitBucket. If you want to
              contribute (creating new scraper, adding to datasets repository,
              etc.) you are welcome to do so. Link to repository:
              <a href="https://bitbucket.org/marcelc63/datapoint/src"
                >BitBucket</a
              >.
            </p>
          </v-card-text>
        </v-card>
      </v-col>
    </v-flex>
  </v-layout>
</template>

<script>
export default {
  head() {
    return {
      title: 'Big Data',
      meta: [
        // hid is used as unique identifier. Do not use `vmid` for it as it will not work
        {
          hid: 'description',
          name: 'description',
          content: 'Easily get datasets for Big Data research and analysis'
        }
      ]
    }
  }
}
</script>
