<template>
  <v-layout column justify-center align-center>
    <v-flex class="w-full">
      <div class="page__headline w-1000 mx-auto">
        <h1>
          Request Datasets or Scraper
        </h1>
      </div>
      <v-col class="mb-6">
        <v-card class="w-full mx-auto mb-3 card__main" max-width="1000">
          <p class="card__headline">Request Form</p>
          <v-card-text>
            <p>
              Here you can request datasets or scrapers that has not yet been
              supported by Data Point. You can do so by simply filling in the
              following form.
            </p>
            <iframe
              src="https://docs.google.com/forms/d/e/1FAIpQLSe7GiFSsZPMfQ1VXe9LBGFOEKZeQAjdQLoL2pAKJ25eB4es0w/viewform?embedded=true"
              width="100%"
              height="1796"
              frameborder="0"
              marginheight="0"
              marginwidth="0"
              >Loading…</iframe
            >
          </v-card-text>
        </v-card>
      </v-col>
    </v-flex>
  </v-layout>
</template>

<script>
export default {
  head() {
    return {
      title: 'Request Datasets or Scraper',
      meta: [
        // hid is used as unique identifier. Do not use `vmid` for it as it will not work
        {
          hid: 'description',
          name: 'description',
          content: 'Easily get datasets for Big Data research and analysis'
        }
      ]
    }
  }
}
</script>
