<template>
  <v-layout column justify-center align-center>
    <v-flex class="w-full">
      <div class="page__headline w-500 mx-auto">
        <h1>
          Tokopedia Products Scraper
        </h1>
      </div>
      <v-col class="mb-6">
        <v-scroll-x-transition hide-on-leave>
          <v-card
            class="w-full mx-auto mb-2 card__main"
            max-width="500"
            v-if="state.card === 'default'"
          >
            <p class="card__headline">How to use the Scraper</p>
            <v-card-text>
              <p class="card__subhead">
                IMPORTANT: Install Origin & CORS Changer Extension
              </p>
              <p class="card__information">
                Before you start, you will need to install Origin & CORS Changer
                Extension on Chrome, Firefox or other browsers you are using.
                This extension is required to make connection between your
                browser and Tokopedia's API.
                <b>Without this, the scraper will not work.</b>
                <br />
                You can search for "Origin & CORS Changer" on Chrome Web Store
                or use this extension:
                <a
                  href="https://chrome.google.com/webstore/detail/moesif-orign-cors-changer/digfbfaphojjndkpccljibejjbppifbc/related?hl=en-US"
                  target="_blank"
                  >Moesif Orign & CORS Changer</a
                ><br />
                Set the origin to: https://www.tokopedia.com
              </p>
              <p class="card__information">
                <b>Don't forget to disable the extension after usage.</b> It
                will affect your connection on other websites.
              </p>
              <p class="card__subhead">
                Limitations
              </p>
              <p class="card__information">
                1. Scraping is done directly between your browser and
                Tokopedia's API. Therefore, scraping speed is influenced by your
                personal internet speed.
                <br />
                2. Tokopedia have Rate Limitation to access their API. If you
                scrape too many data in one sitting, the scraping process will
                slow down considerably.
              </p>
              <p class="card__subhead text--red">
                Disclaimers
              </p>
              <p class="card__information">
                This tool is created and provided
                <b>for research and education purposes only!</b> It is strongly
                prohibited to commercialize the tool or the produced datasets in
                any way. Please use this tool responsibly and all liabilities
                are each user's responsibility.
              </p>
            </v-card-text>
            <v-card-actions>
              <v-btn
                color="green"
                nuxt
                to="/tutorial/tokopedia-products-scraper"
                >Tutorial</v-btn
              >
              <v-spacer />
              <v-btn color="primary" nuxt @click="state.card = 'search'"
                >Get Started!</v-btn
              >
            </v-card-actions>
          </v-card>
        </v-scroll-x-transition>
        <v-scroll-x-transition hide-on-leave>
          <v-card
            class="mx-auto mb-3 card__main"
            max-width="500"
            v-if="state.card === 'search'"
          >
            <p class="card__headline">Product Search</p>
            <v-card-text>
              <v-text-field
                v-model="model.product"
                label="Type in product name the same way you do in Tokopedia..."
                required
              ></v-text-field>
              <p class="card__subhead">
                Tips
              </p>
              <p class="card__information">
                Try your search query on Tokopedia first to ensure that there
                are products for your query.
              </p>
              <p class="card__subhead">
                Limitation
              </p>
              <p class="card__information">
                The shown progress is based on the total amount of products
                retrieved from Tokopedia's API. Actual datasets can be
                significantly less.
              </p>

              <v-alert dense type="error" v-if="state.productAlert">
                Please type in a product name
              </v-alert>
            </v-card-text>
            <v-card-actions>
              <v-spacer />
              <v-btn color="primary" nuxt @click="productStart"
                >Scrape Product</v-btn
              >
            </v-card-actions>
          </v-card>
        </v-scroll-x-transition>
        <v-scroll-x-transition hide-on-leave>
          <v-card
            class="w-full mx-auto mb-2 card__main"
            max-width="500"
            v-if="state.card === 'scraper'"
          >
            <p class="card__headline">
              <v-progress-circular
                indeterminate
                color="red"
                :size="15"
                :width="2"
              ></v-progress-circular>
              Scraping in Progress...
            </p>

            <v-card-text>
              <p class="card__subhead">
                Scraper Status
              </p>
              <p class="mb-0">
                <b>Status</b>
                <span v-if="state.scraperStatus === 'stop'">Idle</span>
                <span v-if="state.scraperStatus === 'scraping'">Running</span>
                <span v-if="state.scraperStatus === 'stopping'">Stopping</span>
              </p>
              <p class="mb-0">
                <b>Products Collected</b>
                {{ `${state.scraperTotal}` }}
              </p>
              <p class="mb-0">
                <b>Progress</b>
                {{ `${state.scraperProgress}` }}
              </p>

              <v-alert dense dismissible type="warning" class="mt-4 mb-0">
                Don't close browser while scraper in progress
              </v-alert>
            </v-card-text>
            <v-card-actions>
              <v-spacer />
              <v-btn
                color="primary"
                nuxt
                @click="scrapeControl"
                :loading="state.scraperStopLoading"
                :disabled="state.scraperStopLoading"
                >Stop Scraping and Download File</v-btn
              >
            </v-card-actions>
          </v-card>
        </v-scroll-x-transition>
        <v-scroll-x-transition hide-on-leave>
          <v-card
            class="w-full mx-auto mb-2 card__main"
            max-width="1000"
            v-if="state.card === 'dataset'"
          >
            <p class="card__headline">Dataset Results</p>
            <v-card-text>
              <v-alert dense dismissible type="warning" class="mb-5">
                Don't forget to turn off Origin & CORS Changer Extension after
                usage
              </v-alert>
              <v-data-table
                :headers="store.datasetHeader"
                :items="store.dataset"
                :items-per-page="5"
                class="elevation-1"
              ></v-data-table>
            </v-card-text>
            <v-card-text>
              <v-row align="center" class="px-4">
                <v-text-field
                  v-model="model.dataset"
                  label="Dataset File Name"
                  class="pr-4"
                  required
                ></v-text-field>
                <v-btn color="primary" nuxt @click="datasetDownload"
                  >Download CSV</v-btn
                >
              </v-row>
            </v-card-text>
            <v-card-actions>
              <v-spacer />
              <v-btn color="primary" nuxt @click="scrapeRestart"
                >Scrape another dataset</v-btn
              >
              <v-btn color="primary" nuxt to="/tokopedia-reviews-scraper"
                >Scrape Tokopedia Reviews</v-btn
              >
            </v-card-actions>
          </v-card>
        </v-scroll-x-transition>
        <v-scroll-x-transition hide-on-leave>
          <v-card
            class="w-full mx-auto mb-2 card__main"
            max-width="500"
            v-if="state.card === 'cors'"
          >
            <p class="card__headline">
              Please Enable Origin & CORS Changer Extension
            </p>
            <v-card-text>
              <v-alert dense type="error">
                It seems you don't have Origin & CORS Changer Extension
                Installed or Activated
              </v-alert>
              <p class="card__subhead">
                Why do you need Origin & CORS Changer Extension?
              </p>
              <p class="card__information">
                Before you start, you will need to install Origin & CORS Changer
                Extension on Chrome, Firefox or other browsers you are using.
                This extension is required to make connection between your
                browser and Tokopedia's API.
                <b>Without this, the scraper will not work.</b>
                <br />
                You can search for "Origin & CORS Changer" on Chrome Web Store
                or use this extension:
                <a
                  href="https://chrome.google.com/webstore/detail/moesif-orign-cors-changer/digfbfaphojjndkpccljibejjbppifbc/related?hl=en-US"
                  target="_blank"
                  >Moesif Orign & CORS Changer</a
                ><br />
                Don't forget to set the origin to: https://www.tokopedia.com
              </p>
              <p class="card__information">
                <b>Don't forget to disable the extension after usage.</b> It
                will affect your connection on other websites.
              </p>
              <p class="card__subhead">
                Already enabled the extension?
                <b>Click "Continue" to continue from where you left off.</b>
              </p>
            </v-card-text>
            <v-card-actions>
              <v-btn color="secondary" nuxt @click="state.card = 'default'"
                >Back to home</v-btn
              >
              <v-spacer />
              <v-btn color="primary" nuxt @click="productStart">Continue</v-btn>
            </v-card-actions>
          </v-card>
        </v-scroll-x-transition>
      </v-col>
    </v-flex>
  </v-layout>
</template>

<script>
import Logo from '~/components/Logo.vue'
import VuetifyLogo from '~/components/VuetifyLogo.vue'
import axios from 'axios'

import { scrape as fnScraper, fnControl } from '~/scraper/tokopedia-products.js'
import {
  checkCORS,
  checkExit,
  flattenObject,
  replacer
} from '~/assets/helper.js'

export default {
  components: {
    Logo,
    VuetifyLogo
  },
  head() {
    return {
      title: 'Tokopedia Products Scraper',
      meta: [
        // hid is used as unique identifier. Do not use `vmid` for it as it will not work
        {
          hid: 'description',
          name: 'description',
          content:
            'Easily get Tokopedia Products data for Big Data research and analysis'
        }
      ]
    }
  },
  data: function() {
    return {
      meta: {
        key: 'daf7348d4152389a0cff57b1c030e04c'
      },
      model: {
        product: '',
        dataset: 'Tokopedia Products Dataset'
      },
      state: {
        card: 'default',
        productAlert: false,
        scraperStopLoading: false,
        scraperTotal: 0,
        scraperProgress: 0,
        scraperProgressMax: 0,
        scraperStatus: 'stop'
      },
      store: {
        dataset: [],
        datasetHeader: [],
        csvContent: ''
      }
    }
  },
  methods: {
    productStart: async function() {
      if (this.model.product === '') {
        this.state.productAlert = true
        return
      }

      let payload = {
        query: this.model.product
      }
      this.scrapeStart(payload)
    },
    scrapeControl: async function() {
      this.state.scraperStatus = 'stopping'
      this.state.scraperStopLoading = true
      await fnControl({ status: 'stop' })
    },
    scrapeStart: async function(payload) {
      let self = this

      //Check CORS
      let corsOK = await checkCORS()
      if (!corsOK) {
        this.state.card = 'cors'
        return
      }

      this.state.card = 'scraper'
      await checkExit(true)

      //Define

      //Call Scraper
      await fnControl({ status: 'start' })
      let results = await fnScraper(payload, (msg) => {
        if (msg.type === 'status') {
          self.state.scraperStatus = msg.status
        }
        if (msg.type === 'items') {
          self.state.scraperTotal = self.state.scraperTotal + msg.items
        }
        if (msg.type === 'progress') {
          self.state.scraperProgress = self.state.scraperProgress + msg.progress
        }
        if (msg.type === 'progress max') {
          self.state.scraperProgressMax = msg.progressMax
        }
      })

      await checkExit(false)
      this.state.scraperStopLoading = false

      // Flatten Dataset
      let flattenDataset = results.data.map((x) => flattenObject(x))
      const longest = flattenDataset.reduce(function(a, b) {
        return Object.keys(a).length > Object.keys(b).length ? a : b
      })

      // Prepare CSV
      const header = Object.keys(longest)
      let csv = flattenDataset.map((row) =>
        header
          .map((fieldName) => JSON.stringify(row[fieldName], replacer))
          .join(',')
      )
      csv.unshift(header.join(','))
      csv = csv.join('\n')

      //Store Dataset
      self.store.csvContent = csv
      self.store.datasetHeader = header.map((x) => {
        return {
          text: x,
          value: x
        }
      })
      self.store.dataset = results.data
      self.state.card = 'dataset'
    },
    scrapeRestart: function() {
      let self = this

      self.store.dataset = []
      self.store.datasetHeader = []
      self.store.csvContent = ''

      self.state.card = 'search'
      self.model.product = ''
      self.state.productAlert = false
      self.state.scraperTotal = 0
      self.state.scraperProgress = 0
      self.state.scraperProgressMax = 0
      self.state.scraperStatus = 'stop'
    },
    datasetDownload: function() {
      let self = this
      //Download CSV
      var csvData = new Blob([this.store.csvContent], { type: 'text/csv' }) //new way
      var csvUrl = URL.createObjectURL(csvData)
      var link = document.createElement('a')
      link.setAttribute('href', csvUrl)
      link.setAttribute('download', this.model.dataset)
      document.body.appendChild(link) // Required for FF

      //Trigger Download
      link.click()
    }
  }
}
</script>
