<template>
  <v-layout column justify-center align-center>
    <v-flex class="w-full">
      <div class="page__headline w-500 mx-auto">
        <h1>
          Tokopedia Reviews Scraper
        </h1>
      </div>
      <v-col class="mb-6">
        <v-scroll-x-transition hide-on-leave>
          <v-card
            class="w-full mx-auto mb-2 card__main"
            max-width="500"
            v-if="state.card === 'default'"
          >
            <p class="card__headline">How to use the Scraper</p>
            <v-card-text>
              <p class="card__subhead">
                IMPORTANT: Install Origin & CORS Changer Extension
              </p>
              <p class="card__information">
                Before you start, you will need to install Origin & CORS Changer
                Extension on Chrome, Firefox or other browsers you are using.
                This extension is required to make connection between your
                browser and Tokopedia's API.
                <b>Without this, the scraper will not work.</b>
                <br />
                You can search for "Origin & CORS Changer" on Chrome Web Store
                or use this extension:
                <a
                  href="https://chrome.google.com/webstore/detail/moesif-orign-cors-changer/digfbfaphojjndkpccljibejjbppifbc/related?hl=en-US"
                  target="_blank"
                  >Moesif Orign & CORS Changer</a
                ><br />
                Set the origin to: https://www.tokopedia.com
              </p>
              <p class="card__information">
                <b>Don't forget to disable the extension after usage.</b> It
                will affect your connection on other websites.
              </p>
              <p class="card__subhead">
                Limitations
              </p>
              <p class="card__information">
                1. Scraping is done directly between your browser and
                Tokopedia's API. Therefore, scraping speed is influenced by your
                personal internet speed.
                <br />
                2. Tokopedia have Rate Limitation to access their API. If you
                scrape too many data in one sitting, the scraping process will
                slow down considerably.
              </p>
              <p class="card__subhead text--red">
                Disclaimers
              </p>
              <p class="card__information">
                This tool is created and provided
                <b>for research and education purposes only!</b> It is strongly
                prohibited to commercialize the tool or the produced datasets in
                any way. Please use this tool responsibly and all liabilities
                are each user's responsibility.
              </p>
            </v-card-text>
            <v-card-actions>
              <v-btn color="green" nuxt to="/tutorial/tokopedia-reviews-scraper"
                >Tutorial</v-btn
              >
              <v-spacer />
              <v-btn color="primary" nuxt @click="state.card = 'file'"
                >Get Started!</v-btn
              >
            </v-card-actions>
          </v-card>
        </v-scroll-x-transition>
        <v-scroll-x-transition hide-on-leave>
          <v-card
            class="mx-auto mb-2 card__main"
            max-width="500"
            v-if="state.card === 'file'"
          >
            <p class="card__headline">Load Tokopedia Products CSV</p>
            <v-card-text>
              <v-file-input
                accept=".csv"
                label="File input"
                v-model="model.chosenFile"
              ></v-file-input>
              <p class="card__subhead">
                Compatible CSV Files
              </p>
              <p class="card__information">
                CSV File obtained from Tokopedia Products Scraper will be
                immediately compatible.
              </p>
              <p class="card__subhead">
                Other CSV Files
              </p>
              <p class="card__information">
                CSV File must have Product ID data. You can select the Product
                ID column on the CSV File Preview page after clicking Load CSV
                button.
              </p>

              <v-alert dense type="error" v-if="state.fileAlert">
                Please choose a compatible CSV File
              </v-alert>
            </v-card-text>
            <v-card-actions>
              <v-spacer />
              <v-btn
                color="primary"
                nuxt
                @click="fileLoad"
                :loading="state.fileLoading"
                :disabled="state.fileLoading"
                >Load CSV</v-btn
              >
            </v-card-actions>
          </v-card>
        </v-scroll-x-transition>

        <v-scroll-x-transition hide-on-leave>
          <v-card
            class="mx-auto mb-2 card__main"
            max-width="500"
            v-if="state.card === 'preview'"
          >
            <p class="card__headline">CSV File Preview</p>
            <v-card-text>
              <p class="card__subhead">
                CSV File Information
              </p>
              <p class="card__information">
                <b>Total Products</b> {{ store.products.length }}
              </p>

              <p class="card__subhead">
                Match Column Names
              </p>
              <p class="card__information">
                Make sure you select the correct Product ID column. If not, the
                scraper will not work.
              </p>
              <v-row align="center">
                <v-col cols="12" sm="6">
                  <v-subheader v-text="'Product ID Column Name'"></v-subheader>
                </v-col>
                <v-col cols="12" sm="6">
                  <v-select
                    :items="store.fileHeader"
                    label="Product ID Column"
                    v-model="model.columnNameId"
                  ></v-select>
                </v-col>
              </v-row>
            </v-card-text>
            <v-card-actions>
              <v-btn color="secondary" nuxt @click="loadBack"
                >Load Different File</v-btn
              >
              <v-spacer />
              <v-btn color="primary" nuxt @click="scrapeStart"
                >Start Scraper</v-btn
              >
            </v-card-actions>
          </v-card>
        </v-scroll-x-transition>

        <v-scroll-x-transition hide-on-leave>
          <v-card
            class="mx-auto mb-2 card__main"
            max-width="500"
            v-if="state.card === 'scraper'"
          >
            <p class="card__headline">
              <v-progress-circular
                indeterminate
                color="red"
                :size="15"
                :width="2"
              ></v-progress-circular>
              Scraping in Progress...
            </p>

            <v-card-text>
              <p class="card__subhead">
                Scraper Status
              </p>
              <p class="mb-0">
                <b>Status</b>
                <span v-if="state.scraperStatus === 'stop'">Idle</span>
                <span v-if="state.scraperStatus === 'scraping'">Running</span>
                <span v-if="state.scraperStatus === 'stopping'">Stopping</span>
              </p>
              <p class="mb-0">
                <b>Reviews Collected</b>
                {{ `${state.scraperTotal}` }}
              </p>
              <p class="mb-0">
                <b>Progress</b>
                {{ `${state.scraperProgress}` }}/{{
                  `${state.scraperProgressMax}`
                }}
              </p>
              <v-alert dense dismissible type="warning" class="mt-4 mb-0">
                Don't close browser while scraper in progress
              </v-alert>
            </v-card-text>
            <v-card-actions>
              <v-spacer />
              <v-btn
                color="primary"
                nuxt
                @click="scrapeControl"
                :loading="state.scraperStopLoading"
                :disabled="state.scraperStopLoading"
                >Stop Scraping and Download File</v-btn
              >
            </v-card-actions>
          </v-card>
        </v-scroll-x-transition>
        <v-scroll-x-transition hide-on-leave>
          <v-card
            class="w-full mx-auto mb-2 card__main"
            max-width="1000"
            v-if="state.card === 'dataset'"
          >
            <p class="card__headline">Dataset Results</p>
            <v-card-text>
              <v-alert dense dismissible type="warning" class="mb-5">
                Don't forget to turn off Origin & CORS Changer Extension after
                usage
              </v-alert>
              <v-data-table
                :headers="store.datasetHeader"
                :items="store.dataset"
                :items-per-page="5"
                class="elevation-1"
              ></v-data-table>
            </v-card-text>
            <v-card-text>
              <v-row align="center" class="px-4">
                <v-text-field
                  v-model="model.dataset"
                  label="Dataset File Name"
                  class="pr-4"
                  required
                ></v-text-field>
                <v-btn color="primary" nuxt @click="datasetDownload"
                  >Download CSV</v-btn
                >
              </v-row>
            </v-card-text>
            <v-card-actions>
              <v-spacer />
              <v-btn color="primary" nuxt @click="scrapeRestart"
                >Scrape another dataset</v-btn
              >
            </v-card-actions>
          </v-card>
        </v-scroll-x-transition>
        <v-scroll-x-transition hide-on-leave>
          <v-card
            class="w-full mx-auto mb-2 card__main"
            max-width="500"
            v-if="state.card === 'cors'"
          >
            <p class="card__headline">
              Please Enable Origin & CORS Changer Extension
            </p>
            <v-card-text>
              <v-alert dense type="error">
                It seems you don't have Origin & CORS Changer Extension
                Installed or Activated
              </v-alert>
              <p class="card__subhead">
                Why do you need Origin & CORS Changer Extension?
              </p>
              <p class="card__information">
                Before you start, you will need to install Origin & CORS Changer
                Extension on Chrome, Firefox or other browsers you are using.
                This extension is required to make connection between your
                browser and Tokopedia's API.
                <b>Without this, the scraper will not work.</b>
                <br />
                You can search for "Origin & CORS Changer" on Chrome Web Store
                or use this extension:
                <a
                  href="https://chrome.google.com/webstore/detail/moesif-orign-cors-changer/digfbfaphojjndkpccljibejjbppifbc/related?hl=en-US"
                  target="_blank"
                  >Moesif Orign & CORS Changer</a
                ><br />
                Don't forget to set the origin to: https://www.tokopedia.com
              </p>
              <p class="card__information">
                <b>Don't forget to disable the extension after usage.</b> It
                will affect your connection on other websites.
              </p>
              <p class="card__subhead">
                Already enabled the extension?
                <b>Click "Continue" to continue from where you left off.</b>
              </p>
            </v-card-text>
            <v-card-actions>
              <v-btn color="secondary" nuxt @click="state.card = 'default'"
                >Back to home</v-btn
              >
              <v-spacer />
              <v-btn color="primary" nuxt @click="scrapeStart">Continue</v-btn>
            </v-card-actions>
          </v-card>
        </v-scroll-x-transition>
      </v-col>
    </v-flex>
  </v-layout>
</template>

<script>
import Logo from '~/components/Logo.vue'
import VuetifyLogo from '~/components/VuetifyLogo.vue'
import axios from 'axios'
import * as CSV from 'csv-string'

import { scrape as fnScraper, fnControl } from '~/scraper/tokopedia-reviews.js'
import {
  checkCORS,
  checkExit,
  flattenObject,
  replacer
} from '~/assets/helper.js'

export default {
  components: {
    Logo,
    VuetifyLogo
  },
  head() {
    return {
      title: 'Tokopedia Reviews Scraper',
      meta: [
        // hid is used as unique identifier. Do not use `vmid` for it as it will not work
        {
          hid: 'description',
          name: 'description',
          content:
            'Easily get Tokopedia Reviews data for Big Data research and analysis'
        }
      ]
    }
  },
  data: function() {
    return {
      meta: {
        key: 'daf7348d4152389a0cff57b1c030e04c'
      },
      model: {
        chosenFile: [],
        columnNameId: 'id',
        dataset: 'Tokopedia Reviews Dataset'
      },
      state: {
        card: 'default',
        fileAlert: false,
        fileLoading: false,
        scraperStopLoading: false,
        scraperTotal: 0,
        scraperProgress: 0,
        scraperProgressMax: 0,
        scraperStatus: 'stop'
      },
      store: {
        products: [],
        fileHeader: [],
        dataset: [],
        datasetHeader: [],
        csvContent: ''
      }
    }
  },
  methods: {
    fileLoad: function() {
      console.log(this.model.chosenFile)
      if (this.model.chosenFile.length === 0) {
        this.state.fileAlert = true
        return
      }

      this.state.fileLoading = true

      // Load File
      var reader = new FileReader()
      reader.readAsText(this.model.chosenFile)
      reader.onload = () => {
        let result = CSV.parse(reader.result)
        let header = result[0]
        let content = result.slice(1, result.length - 1)
        let items = content.map((list) => {
          let obj = {}
          list.forEach((val, i) => {
            obj[header[i]] = val
          })
          return obj
        })

        //Store State
        this.store.fileHeader = header
        this.store.products = items
        this.state.card = 'preview'
        this.state.fileLoading = false

        //.map(x => x[this.columnName]).filter(x => x.length >= 8)
        // let listings = csvArray.filter(x => parseInt(x['listing.reviews_count']) !== 0).map(x => x['listing.id'])
      }
    },
    loadBack: function() {
      this.state.card = 'file'
      this.store.products = []
      this.model.chosenFile = []
    },
    scrapeControl: async function() {
      this.state.scraperStatus = 'stopping'
      this.state.scraperStopLoading = true
      await fnControl({ status: 'stop' })
    },
    scrapeStart: async function() {
      let self = this

      //Check CORS
      let corsOK = await checkCORS()
      if (!corsOK) {
        this.state.card = 'cors'
        return
      }

      this.state.card = 'scraper'
      await checkExit(true)

      //Define
      let payload = {
        products: this.store.products.map((x) => {
          return {
            productid: x[this.model.columnNameId]
          }
        })
      }

      //Call Scraper
      await fnControl({ status: 'start' })
      let results = await fnScraper(payload, (msg) => {
        if (msg.type === 'status') {
          self.state.scraperStatus = msg.status
        }
        if (msg.type === 'items') {
          self.state.scraperTotal = self.state.scraperTotal + msg.items
        }
        if (msg.type === 'progress') {
          self.state.scraperProgress = self.state.scraperProgress + msg.progress
        }
        if (msg.type === 'progress max') {
          self.state.scraperProgressMax = msg.progressMax
        }
      })

      await checkExit(false)
      this.state.scraperStopLoading = false

      // Flatten Dataset
      let flattenDataset = results.data.map((x) => flattenObject(x))
      const longest = flattenDataset.reduce(function(a, b) {
        return Object.keys(a).length > Object.keys(b).length ? a : b
      })

      //Prepare CSV
      const header = Object.keys(longest)
      let csv = flattenDataset.map((row) =>
        header
          .map((fieldName) => JSON.stringify(row[fieldName], replacer))
          .join(',')
      )
      csv.unshift(header.join(','))
      csv = csv.join('\n')

      //Store Dataset
      self.store.csvContent = csv
      self.store.datasetHeader = header.map((x) => {
        return {
          text: x,
          value: x
        }
      })
      self.store.dataset = results.data
      self.state.card = 'dataset'
    },
    scrapeRestart: function() {
      let self = this

      self.store.dataset = []
      self.store.datasetHeader = []
      self.store.csvContent = ''

      self.state.card = 'file'
      self.state.fileAlert = false
      self.state.fileLoading = false
      self.state.scraperTotal = 0
      self.state.scraperProgress = 0
      self.state.scraperProgressMax = 0
      self.state.scraperStatus = 'stop'
      self.store.listings = []
      self.model.chosenFile = []
      self.model.columnNameId = 'id'
    },
    datasetDownload: function() {
      let self = this
      //Download CSV
      var csvData = new Blob([this.store.csvContent], { type: 'text/csv' }) //new way
      var csvUrl = URL.createObjectURL(csvData)
      var link = document.createElement('a')
      link.setAttribute('href', csvUrl)
      link.setAttribute('download', this.model.dataset)
      document.body.appendChild(link) // Required for FF

      //Trigger Download
      link.click()
    }
  }
}
</script>
